.logo-font{
	font-family: $whiteJulyFont;
}
.logo-header {
    background: #343a40 !important;
    padding: 10px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.white-logo {
    padding-bottom: 10px;
    color: $white;
	
	a{
		color: $white;
		text-decoration: none;
	}
}
.header-nav {
    padding-top: 20px;
}
.header-nav-wrapper {
    clear: both;
    float: right;
}
.dropdown-menu {
    left: unset !important;
	right: 0;
}
.dashboard-icon{
	color: $blue;
}

.page-title{
	border-bottom: 1px solid $gray;
    margin-bottom: 20px;
	padding: 0;
}
.page-title-wrapper {
   
    padding: 0 0 0;
    padding-bottom: 10px;
	
	h2{
		font-family: $whiteJulyFont;
		font-size: 3rem;
		margin: 0;
	}
}