.section-header {
    background: $lightGray;
    padding: 15px;
    color: $gray;
    margin: 0;
	margin-bottom: 35px;
	
	h3{
		padding: 0;
		margin: 0;
	}
}

.sub-section-header{
	padding: 15px;
	margin: 0;
	color: $lightGray;
	color: $blue;
}

.pg-btns {
    padding: 15px 0;
    margin-bottom: 35px;
    float: right;
    clear: both;
}