@font-face{
    font-family: coolvetica;
    src: url('../fonts/coolvetica.ttf');
}

/*  FONTS */
$whiteJulyFont: "coolvetica";

/* COLOR */
$blurple: 		#5555DD;
$blue: 			#337ab7;
$lightBlue: 	#5BC0DE;
$green: 		#5CB85C;
$red: 			#D9534F;
$orange: 		#F0AD4E;


/* ACCENTS */
$white: 		#FFFFFF;
$gray:			#95989a;
$black: 		#38383A;
$lightGray:     #FAFAFA;

