/* VARIABLES */
@font-face {
  font-family: coolvetica;
  src: url("../fonts/coolvetica.ttf"); }
/*  FONTS */
/* COLOR */
/* FOUNDATION */
/* GENERALS */
h1, h2, h3, h4, h5, h6 {
  font-family: "coolvetica"; }

.red-txt, .red {
  color: red; }

/* OVERRIDES */
.alert {
  margin-bottom: 0 !important; }

/* HEADER */
.logo-font {
  font-family: "coolvetica"; }

.logo-header {
  background: #343a40 !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.white-logo {
  padding-bottom: 10px;
  color: #FFFFFF; }
  .white-logo a {
    color: #FFFFFF;
    text-decoration: none; }

.header-nav {
  padding-top: 20px; }

.header-nav-wrapper {
  clear: both;
  float: right; }

.dropdown-menu {
  left: unset !important;
  right: 0; }

.dashboard-icon {
  color: #337ab7; }

.page-title {
  margin-bottom: 20px;
  padding: 0; }

.page-title-wrapper {
  padding: 0 0 0;
  padding-bottom: 10px; }
  .page-title-wrapper h2 {
    font-family: "coolvetica";
    font-size: 3rem;
    margin: 0; }

/* LEFT-COL */
.logo {
  padding-bottom: 10px;
  color: #337ab7; }

.active .dashboard-icon {
  color: #fff; }

.dashboard-icon {
  padding-right: 7px; }

.left-col {
  background-color: #f8f9fa !important;
  border-right: #eee solid 1px;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; }

.content-wrapper {
  margin-top: -29px; }

.right-col {
  float: right;
  margin-top: 10em; }

.ver-number {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
  padding-left: 10px;
  color: #a9a3a3;
  font-style: italic; }

/* DASHBOARD*/
.location {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px; }

.dashboard-content {
  padding-top: 35px; }

.pg-header {
  height: 65px; }

.page-header-btn {
  padding-top: 15px;
  text-align: right;
  padding: 0; }

.location-header h2 {
  padding-left: 0 !important; }

.wj-info-box {
  background: #fafafa;
  box-shadow: 1px 2px 10px -6px #2c2929; }

.data-bubble-wrapper {
  text-align: center; }

.data-bubble {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  color: white;
  margin: 0 auto; }

.bubble-number {
  position: absolute;
  left: 0;
  right: 0;
  top: 26%;
  font-size: 5em;
  text-align: center; }

.green {
  background-color: #5cb85c; }

.blue {
  background-color: #337ab7; }

.dashboard-applicants-wrapper {
  padding-top: 60px; }

/* LOGIN PAGE */
.login-content {
  background: #337ab7;
  background: -moz-linear-gradient(left, #337ab7 0%, #5cb85c 100%);
  background: -webkit-linear-gradient(left, #337ab7 0%, #5cb85c 100%);
  background: linear-gradient(to right, #337ab7 0%, #5cb85c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#5cb85c',GradientType=1 );
  padding: 40px 0 40px 0; }

h1.sign-in-header {
  text-align: center;
  padding-bottom: 25px;
  color: #337ab7; }

.login_block_wrapper {
  position: relative; }

.login_wrapper {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  border-radius: 7px;
  background-color: #FFFFFF;
  box-shadow: 4px 5px 10px -7px; }

.bottom-links ul {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 10px; }
.bottom-links li {
  list-style: none;
  padding-right: 7px;
  border-right: 1px #38383A solid;
  display: inline-block; }
.bottom-links li:last-child {
  border-right: none;
  padding-left: 2px; }

.reg-form-wrapper {
  background: #fff;
  padding: 35px;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  border-radius: 7px; }
  .reg-form-wrapper h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 35px; }

/* REPORTS */
/* JOBS */
/* FEEDBACK */
.subject-line {
  border: 1px #eee solid;
  padding: 10px;
  overflow: overlay;
  margin: 15px auto;
  border-radius: 7px;
  background: #eee; }

.subject-line:first-child {
  margin: 0; }

input.feedback-title-btn {
  background: transparent;
  border: none;
  padding: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
  font-weight: bold; }

/* FOOTER */
footer {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 35px;
  margin-bottom: 35px; }

.copyright {
  text-align: right; }
